[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VeduaeVelum
[access "refs/for/refs/*"]
	read = group user/VeduaeVelum
	push = group user/VeduaeVelum
	label-Code-Review = -2..+2 group user/VeduaeVelum
	label-Verified = -1..+1 group user/VeduaeVelum
	rebase = group user/VeduaeVelum
	removeReviewer = group user/VeduaeVelum
	submit = group user/VeduaeVelum
[access "refs/heads/*"]
	read = group user/VeduaeVelum
	create = group user/VeduaeVelum
	push = +force group user/VeduaeVelum
	pushMerge = group user/VeduaeVelum
[access "refs/tags/*"]
	push = +force group user/VeduaeVelum
	pushTag = group user/VeduaeVelum
	pushSignedTag = group user/VeduaeVelum
