[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Erick Mizhevich (VeduaeVelum)
	label-Code-Review = -2..+2 group spovm_myreviewers
[access "refs/for/refs/*"]
	read = group user/Erick Mizhevich (VeduaeVelum)
	push = group user/Erick Mizhevich (VeduaeVelum)
	label-Code-Review = -2..+2 group user/Erick Mizhevich (VeduaeVelum)
	label-Verified = -1..+1 group user/Erick Mizhevich (VeduaeVelum)
	rebase = group user/Erick Mizhevich (VeduaeVelum)
	removeReviewer = group user/Erick Mizhevich (VeduaeVelum)
	submit = group user/Erick Mizhevich (VeduaeVelum)
[access "refs/heads/*"]
	read = group user/Erick Mizhevich (VeduaeVelum)
	create = group user/Erick Mizhevich (VeduaeVelum)
	push = +force group user/Erick Mizhevich (VeduaeVelum)
	pushMerge = group user/Erick Mizhevich (VeduaeVelum)
[access "refs/tags/*"]
	push = +force group user/Erick Mizhevich (VeduaeVelum)
	pushTag = group user/Erick Mizhevich (VeduaeVelum)
	pushSignedTag = group user/Erick Mizhevich (VeduaeVelum)
